<html>
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<meta http-equiv="paragma" content="no-cache">
<script language="javascript" src="<%= @yaml['JS'] %>"></script>
<script language="javascript" src="<%= @yaml['prototype'] %>"></script>
<script language="javascript" src="<%= @yaml['scroll'] %>"></script>
<link rel="stylesheet" href="<%= @yaml['CSS'] %>" type="text/css" />
<title><%= @yaml['Title'] %></title>
</head><body onload="twitter_page(0);"><div id="title"><a href="http://twitter.com/<%= @yaml['ID'] %>" target="_blank"><%= @yaml['Title'] %></a></div><div id=all><div id="center_line">